.carouselLink {
  cursor: pointer;
}

.carousel-arrow {
  font-size: 30px;
  color: #818181;
}
.left-arrow {
  transform: rotate(180deg);
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

.overlay-content {
  display: block;
  position: relative;
  top: 10%;
  width: 80%;
  text-align: center;
  margin: auto;
}

.overlay-content img {
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  max-height: 80%;
  max-width: 80%;
}

.overlay-content .controls {
  position: fixed;
  bottom: 0;
  right: 50%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
